<li>{{announcements.type}}
  {{#if isMessageShowing}}
    <ul>
      <li {{action 'messageHide'}}>{{announcements.message}}</li>
    </ul>
    {{else}}
      <button {{action 'messageShow'}}>Show Message</button>
  {{/if}}
  <button {{action 'delete' announcements}}>Delete</button>
</li>
